---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "@/layouts/Layout.astro";

type Post = CollectionEntry<"blog">;

const posts: Post[] = await getCollection("blog");

const sortedPosts = posts.sort((a, b) => {
  return b.data.date.valueOf() - a.data.date.valueOf();
});
---

<Layout>
  <h1>Blog</h1>
  <ul>
    {
      sortedPosts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
