---
import Card from "../Card.astro";
import Section from "../Section.astro";
---

<Section id="experience" title="Experience">
  <Card
    slot="card"
    title="Experience 01"
    text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnipariatur illo, obcaecati molestias quod optio quidem minus vero ad blanditiis eum dolorem iusto nihil eveniet sed, voluptatibus similique? Accusantium earum recusandae voluptatibus, quia pariatur tempore eligendi? Nesciunt eius quasi, quod ducimus inventore at tempora vero repudiandae fuga, distinctio quo explicabo."
  />
  <Card
    slot="card"
    title="Experience 02"
    text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnipariatur illo, obcaecati molestias quod optio quidem minus vero ad blanditiis eum dolorem iusto nihil eveniet sed, voluptatibus similique? Accusantium earum recusandae voluptatibus, quia pariatur tempore eligendi? Nesciunt eius quasi, quod ducimus inventore at tempora vero repudiandae fuga, distinctio quo explicabo."
  />
  <Card
    slot="card"
    title="Experience 03"
    text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnipariatur illo, obcaecati molestias quod optio quidem minus vero ad blanditiis eum dolorem iusto nihil eveniet sed, voluptatibus similique? Accusantium earum recusandae voluptatibus, quia pariatur tempore eligendi? Nesciunt eius quasi, quod ducimus inventore at tempora vero repudiandae fuga, distinctio quo explicabo."
  />
  <Card
    slot="card"
    title="Experience 04"
    text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnipariatur illo, obcaecati molestias quod optio quidem minus vero ad blanditiis eum dolorem iusto nihil eveniet sed, voluptatibus similique? Accusantium earum recusandae voluptatibus, quia pariatur tempore eligendi? Nesciunt eius quasi, quod ducimus inventore at tempora vero repudiandae fuga, distinctio quo explicabo."
  />
</Section>
