---
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import astroSnap from "@assets/astroSnap.png";
import pythonSnap from "@assets/pythonSnap.png";
---

<Layout title="Portfolio | Christian Decker">
  <div class="min-h-screen max-w-screen-xl mx-4 lg:mx-auto my-36 lg:px-48">
    <!-- HEADER -->
    <header class="mb-24">
      <h1
        class="font-bold text-6xl max-lg:text-4xl text-neutral-50 tracking-tight w-full mb-2"
      >
        Christian Decker
      </h1>
      <h2
        class="font-thin text-lg max-lg:text-sm text-teal-400 border-l border-teal-400 pl-4 max-lg:pl-2 tracking-wide"
      >
        Machine Learning Engineer, Booz Allen Hamilton
      </h2>
    </header>

    <!-- MAIN -->
    <main class="flex flex-col gap-24">
      <!-- Full Stack Developer -->
      <section
        class="flex max-lg:flex-col justify-between items-center lg:items-start lg:gap-20"
      >
        <Picture
          src={astroSnap}
          alt="Snappify snippet of an Astro component"
          height={400}
        />
        <div class="flex flex-col flex-1 py-8">
          <h2 class="font-bold text-4xl text-neutral-100 mb-4">
            Full Stack Developer
          </h2>
          <p class="text-lg text-neutral-400 leading-loose tracking-wide">
            Front End Developer, UI/UX Designer, Product Designer, API Engineer
          </p>
        </div>
      </section>

      <!-- Data Wizard -->
      <section
        class="flex flex-row-reverse max-lg:flex-col justify-between items-center lg:items-start lg:gap-20"
      >
        <Picture
          src={pythonSnap}
          alt="Snappify snippet of a Python script"
          height={400}
        />
        <div class="flex flex-col flex-1 py-8">
          <h2 class="font-bold text-4xl text-neutral-100 mb-4">Data Wizard</h2>
          <p class="text-lg text-neutral-400 leading-loose tracking-wide">
            Machine Learning Engineer, Data Scientist, Data Engineer
          </p>
        </div>
      </section>
    </main>
  </div>
</Layout>

<style>
  @keyframes blink {
    0%,
    50% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
  }
</style>
