---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <h1>My name is Christian.</h1>
  <p>I'm a software engineer.</p>
  <ul>
    <li><a href="/blog">Blog</a></li>
    <li><a href="https://linkedin.com/in/cmdecker95">LinkedIn</a></li>
  </ul>
</Layout>
