---
import Layout from "@layouts/Layout.astro";

import GitHubLink from "@components/GithubLink.astro";
import LinkedInLink from "@components/LinkedinLink.astro";
import ResumeLink from "@components/ResumeLink.astro";
---

<Layout title="Portfolio | Christian Decker">
  <div class="flex w-screen">
    <header
      class="sticky inset-0 right-auto flex flex-col justify-between max-w-[40%] h-screen pl-36 py-36"
    >
      <div class="text-gray-200">
        <h1 class="font-bold text-5xl tracking-tight">Christian Decker</h1>
        <h2 class="text-xl mt-2">Lead Engineer at Booz Allen Hamilton</h2>
        <p
          class="flex flex-col gap-2 font-light text-gray-400 tracking-wide leading-relaxed
        mt-8"
        >
          Most people have real hobbies.<br />
           I just teach myself programming.
        </p>
        <ul class="flex gap-4 mt-10">
          <GitHubLink />
          <LinkedInLink />
          <ResumeLink />
        </ul>
      </div>
      <footer
        class="grid place-items-center rounded-full bg-orange-800 px-3 py-1 animate-pulse"
      >
        <span class="uppercase font-light text-sm text-white tracking-wider"
          >Portfolio Under Construction</span
        >
      </footer>
    </header>

    <main class="flex flex-col gap-24 max-w-[50%] ml-auto pr-36 py-36">
      <section
        id="about"
        class="flex flex-col gap-8 font-light text-gray-400 tracking-wide leading-relaxed"
      >
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam,
          culpa? Aperiam asperiores dolor optio consectetur delectus dolores
          laudantium mollitia exercitationem iste nam. Commodi possimus pariatur
          animi quaerat architecto maxime placeat.
        </p>
        <p>
          Officiis reprehenderit enim repellat mollitia itaque quia voluptas,
          vitae optio, voluptatibus excepturi architecto culpa quisquam
          exercitationem obcaecati. Vero, harum unde natus, tempore dolor neque
          necessitatibus aspernatur eveniet a optio reiciendis?
        </p>
        <p>
          Natus, doloribus in. Aperiam praesentium sit vel omnis iusto ipsam
          sapiente voluptas est dolor sunt, illum quisquam eos, nam autem
          aliquid molestias placeat? Maxime, aliquam ratione odio atque ipsum
          eligendi?
        </p>
      </section>

      <!-- Experience Section -->
      <section id="experience">
        <h2 class="uppercase font-semibold text-gray-200">Experience</h2>
        <ul class="grid grid-cols-3 gap-8 mt-8">
          <h3 class="uppercase text-sm text-teal-400">NOV 2022 — PRESENT</h3>
          <div class="col-span-2">
            <h4 class="font-semibold text-gray-200">
              Lead Engineer · Booz Allen Hamilton
            </h4>
            <p
              class="font-light text-gray-400 tracking-wide leading-relaxed mt-2"
            >
              Built a containerized reverse proxy between the Databricks Delta
              Lake and the Google Apigee Edge. Led the team in building custom
              visualizations for Qlik Sense using jQuery.
            </p>
          </div>
          <h3 class="uppercase text-sm text-teal-400">APR 2022 — NOV 2022</h3>
          <div class="col-span-2">
            <h4 class="font-semibold text-gray-200">
              Staff Engineer · Booz Allen Hamilton
            </h4>
            <p
              class="font-light text-gray-400 tracking-wide leading-relaxed mt-2"
            >
              Championed the entire product lifecycle of a project, ensuring
              seamless development from concept to deployment.
            </p>
          </div>
          <h3 class="uppercase text-sm text-teal-400">NOV 2021 — APR 2022</h3>
          <div class="col-span-2">
            <h4 class="font-semibold text-gray-200">Freelancer · Upwork</h4>
            <p
              class="font-light text-gray-400 tracking-wide leading-relaxed mt-2"
            >
              Built a scheduling algorithm and provided tutoring to X students
              for y hours in Python, fostering a deeper understanding of
              programming concepts.
            </p>
          </div>
        </ul>
      </section>

      <!-- Projects Section -->
      <section id="projects">
        <h2 class="uppercase font-semibold text-gray-200">Projects</h2>
        <h3 class="uppercase text-sm text-teal-400 mt-8">2023</h3>
        <h4 class="font-semibold text-gray-200">MUV Collective</h4>
        <p class="font-light text-gray-400 tracking-wide leading-relaxed mt-2">
          Developed MUV Collective using Astro, Vercel, and Xata. Integrated
          Appwrite for enhanced functionality.
        </p>
        <h3 class="uppercase text-sm text-teal-400 mt-8">2022</h3>
        <h4 class="font-semibold text-gray-200">VERO Gear Shop</h4>
        <p class="font-light text-gray-400 tracking-wide leading-relaxed mt-2">
          Created VERO Gear Shop using Svelte, SvelteKit, Railway, and
          CloudFlare. Additionally utilized Astro and Xata to optimize
          performance and functionality.
        </p>
      </section>

      <!-- Education Section -->
      <section id="education">
        <h2 class="uppercase font-semibold text-gray-200">Education</h2>

        <h3 class="uppercase text-sm text-teal-400 mt-8">College</h3>
        <h4 class="font-semibold text-gray-200">
          Associate of Arts in General Studies
        </h4>
        <p class="font-light text-gray-400 tracking-wide leading-relaxed mt-2">
          Completed relevant courses for degrees in Computer Science and
          Software Engineering.
        </p>

        <h3 class="uppercase text-sm text-teal-400 mt-8">Badges</h3>
        <h4 class="font-semibold text-gray-200">8 Badges</h4>
        <p class="font-light text-gray-400 tracking-wide leading-relaxed mt-2">
          Earned badges for completing courses and projects, showcasing
          dedication to continuous learning and skill improvement.
        </p>

        <h3 class="uppercase text-sm text-teal-400 mt-8">Udemy</h3>
        <h4 class="font-semibold text-gray-200">50 Courses</h4>
        <p class="font-light text-gray-400 tracking-wide leading-relaxed mt-2">
          Enrolled in various Udemy courses to expand knowledge and skills in
          web development, programming languages, and related technologies.
        </p>

        <h3 class="uppercase text-sm text-teal-400 mt-8">Codecademy</h3>
        <h4 class="font-semibold text-gray-200">6 Courses</h4>
        <p class="font-light text-gray-400 tracking-wide leading-relaxed mt-2">
          Participated in Codecademy courses to gain practical experience and
          proficiency in coding languages and frameworks.
        </p>

        <h3 class="uppercase text-sm text-teal-400 mt-8">YouTube</h3>
        <h4 class="font-semibold text-gray-200">NaN Hours</h4>
        <p class="font-light text-gray-400 tracking-wide leading-relaxed mt-2">
          Watched every programming tutorial known to man, spanning the spectrum
          from clickbait heroes such as Tech with Tim and Theo to true content
          moguls like Corey Schafer and Network Chuck.
        </p>
      </section>

      <p
        class="font-light text-sm text-gray-700 tracking-wide leading-relaxed border-t border-gray-700 pt-8"
      >
        My portfolio was handmade with Astro, styled with Tailwind, versioned on
        GitHub, and deployed on Vercel. The layout is a heartfelt imitation of
        Brittany Chiang's work.
      </p>
    </main>
  </div>
</Layout>
