---
import Layout from "@layouts/Layout.astro";

import GitHubLink from "@components/links/GithubLink.astro";
import LinkedInLink from "@components/links/LinkedinLink.astro";
import ResumeLink from "@components/links/ResumeLink.astro";

import Section from "@components/ui/Section.astro";
import Article from "@components/ui/Article.astro";
---

<Layout title="Christian Decker">
  <div class="flex max-xl:flex-col xl:justify-end w-screen max-xl:py-16">
    <!-- Hero Section -->
    <header
      class="xl:fixed inset-0 right-[50%] max-sm:p-8 max-md:p-24 p-32 xl:pr-0"
    >
      <h1
        class="font-bold max-[440px]:text-4xl text-5xl text-gray-200 tracking-tight"
      >
        Christian Decker
      </h1>
      <h2 class="max-[440px]:text-md text-xl text-gray-200 mt-2">
        Lead Engineer at Booz Allen Hamilton
      </h2>
      <p class="font-light text-gray-400 tracking-wide leading-relaxed mt-4">
        Most people have hobbies.<br />I just code.
      </p>
      <ul class="flex gap-4 mt-8">
        <GitHubLink />
        <LinkedInLink />
        <ResumeLink />
      </ul>
    </header>

    <main
      class="flex flex-col gap-16 xl:w-[50%] max-sm:p-8 max-md:p-24 p-32 xl:pl-0"
    >
      <!-- About Section -->
      <Section title="about">
        <Article
          heading="where it all began"
          subject='"Choose Your Own Adventure"'
        >
          It was the early 2000s. You remember MXPX? Yeah, about that era. My
          4th grade classmates and I would make HTML text-based adventures in
          Notepad during computer lab. No CSS? No JS? No problem. We liked the
          nondescript vibes of Times New Roman. We felt like hackers, and we
          were hooked.
        </Article>
        <Article heading="15 years later" subject="The Beginning of an Era">
          I eventually grew up. Along the way, I picked up the guitar and joined
          the military. Despite my Call of Duty fantasies, I was assigned a desk
          job with way too many spreadsheets. It would take a whole day just to go
          through the morning's data, and it would start all over again the next
          day. So in 2019, I taught myself Python for data analytics and
          visualization, and I drastically streamlined my day job into my morning coffee
          break. That moment changed my life.
        </Article>
        <Article heading="nowadays" subject="Self-Teaching Programmer">
          After Python, I dabbled in Java for some one-off CS classes and
          learned JavaScript for web development (thanks Codecademy). In 2021, I
          started my CS undergrad and was tutoring Python for
          cash, but I paused all that when I landed this job. You know the best part, though? Udemy
          Business for free! Now I'm able to amass knowledge in droves, learning every skill I need: full stack web development and frameworks,
          scalable system design and cloud architecture, data engineering and
          machine learning, network engineering, and the list goes on. Every new
          skill is like hidden treasure, and I can't stop the hunt.
        </Article>
      </Section>

      <!-- Projects Section -->
      <Section title="projects">
        <Article heading="2023 (in progress)" subject="The MUV Collective">
          Using Astro and Svelte, I am building a marketing site, patient portal, and admin portal for a physical therapy company and health community called the MUV Collective. Email contact is facilitated via Resend, data is stored using the Xata serverless database service, and all three apps are deployed using Vercel.
        </Article>
        <Article heading="2022" subject="VERO Gear Shop">
          Using SvelteKit, I built an eCommerce site for the Texas A&M VERO Program to sell merchandise. It also features an admin portal for a VERO program class member to add, update, or delete merchandise from the digital storefront. Product images are stored in Cloudflare Images, user and product data is stored in a Postgres database via the Prisma ORM, and the app and database are deployed using Railway.
        </Article>
      </Section>

      <!-- Experience Section -->
      <Section title="experience">
        <Article
          heading="nov 2022 — present"
          subject="Lead Engineer · Booz Allen Hamilton"
        >
          I lead a team of data engineers and ML engineers to deliver analytics dashboards to government entities. In this role, I also built a containerized reverse proxy between a Databricks Delta Lake
          and Google Apigee Edge's API gateway. My favorite thing I learned in this role was the uber-niche skill to create custom visualizations for a Qlik Sense dashboard using vanilla JS, jQuery, and Angular, along with Qlik's prorietary API.
        </Article>
        <Article
          heading="apr 2022 — nov 2022"
          subject="Staff Engineer · Booz Allen Hamilton"
        >
          The biggest accomplishment of this role was spearheading the entire product lifecycle of a high-priority project for the government: I gathered requirements, designed wireframes and mockups, built and tested data pipelines in Python, developed an MVP dashboard in Qlik Sense, integrated user feedback, and championed the product at a regional conference.
        </Article>
        <Article heading="nov 2021 — apr 2022" subject="Freelancer · Upwork">
         In addition to one-off projects like a baseball game scheduling algorithm, I tutored 12 different students in Python, totalling over 60 hours of one-on-one teaching and consulting.
        </Article>
      </Section>

      <!-- Education Section -->
      <Section title="education">
        <Article
          heading="college"
          subject="Associate of Arts in General Studies"
        >
          I was going to be a music major, but then I joined the military. I am two semesters into my BS in Computer Science with a focus in Data Science from University of Hawaii Manoa.
        </Article>
        <Article heading="skill badges" subject="8 Badges">
          My company, Booz Allen Hamilton, has a professional badging system in partnership with Credly, and I'm all about it: Python Expert, SQL Expert, CSS Expert, JS Expert, React Expert, Docker Practitioner, ML Practitioner, AI Foundational.
        </Article>
        <Article heading="udemy" subject="50 Courses">
          When I don't know enough about an area of software development, data engineering, or machine learning, my first instinct is to take a Udemy course. See the full list of courses I've taken on my LinkedIn.
        </Article>
        <Article heading="codecademy" subject="6 Courses">
          When I first started my programming journey, I took Codecademy courses to get hands-on experience with foundational skills: HTML, CSS, JS, Python, ML, and React.
        </Article>
        <Article heading="youtube" subject="inf">
          Watched every programming tutorial known to man, spanning the spectrum
          from clickbait heroes such as Tech with Tim and Theo, to true content
          moguls like Corey Schafer and Network Chuck. Special thanks to Fireship and the Primeagen for all the memes.
        </Article>
      </Section>

      <p
        class="font-light text-sm text-gray-700 tracking-wide leading-relaxed border-t border-gray-700 pt-4"
      >
        My portfolio was handmade with Astro, styled with Tailwind, versioned on
        GitHub, and deployed on Vercel. The layout is a heartfelt imitation of
        Brittany Chiang's work.
      </p>
    </main>
  </div>
</Layout>
