---
import Layout from "@/layouts/Layout.astro";
import Bento from "@/components/Bento.astro";
---

<Layout>
  <main class="grid h-full place-items-center">
    <Bento />
  </main>
</Layout>

<style>
  #outer-circle {
    mask-image: radial-gradient(circle, black 0% 70%, transparent 70% 100%);
  }
</style>
