---
import Layout from "../layouts/Layout.astro";

import Projects from "../components/sections/Projects.astro";
import Experience from "../components/sections/Experience.astro";
import Blog from "../components/sections/Blog.astro";
import Contact from "../components/sections/Contact.astro";
---

<Layout title="Portfolio - Christian Decker">
  <main>
    <div class="sections">
      <Projects />
      <Experience />
      <Blog />
      <Contact />
    </div>
  </main>
</Layout>

<style>
  .sections {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: var(--section-gap);
  }
</style>
