---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio - Christian Decker">
  <main>
    <section id="top">
			<h1 class="scrolling-text">CHRISTIANDECKERCHRISTIANDECKER</h1>
		<section id="projects">
			<h2>Projects</h2>
			<ul>
				<li>Project 01</li>
				<li>Project 02</li>
				<li>Project 03</li>
				<li>Project 04</li>
			</ul>
		</section>
		<section id="experience">
			<h2>Experience</h2>
			<ul>
				<li>Job 01</li>
				<li>Job 02</li>
				<li>Job 03</li>
				<li>Job 04</li>
			</ul>
		</section>
		<section id="contact">
			<h2>Contact</h2>
			<form>
				<input type="text" />
				<input type="text" />
				<input type="text" />
				<input type="submit" />
			</form>
		</section>
  </main>
</Layout>

<style>
main {
	display: flex;
	gap: 3rem;
	overflow-x: hidden;
	padding: 0 2rem;
}
  .scrolling-text {
    display: flex;
    
  }

	#top {
	background: url("Space Background.png");
	}
	
  h1 {
    
    font-size: 8rem;
    font-weight: 700;
    
    
    animation: scrollLeft 7s linear infinite;
  }

  
  @keyframes scrollLeft {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
	</style>