---
import me from "@/assets/me.jpg";
import { Image } from "astro:assets";
---

<div id="grid" class="gap-x-4 rounded-lg overflow-clip h-1/2 aspect-[1.618]">
  <div id="a" class="rounded-lg overflow-clip">
    <Image
      src={me}
      alt="Christian smiling away from the camera"
      class="object-cover w-full h-full grayscale-100 z-0"
      loading="lazy"
    />
  </div>
  <div id="b" class="z-1 bg-zinc-100 dark:bg-zinc-950 rounded-lg">
    <h1 class="mb-0 grid place-items-center h-full">
      <span class="name text-center">Christian Decker</span>
    </h1>
  </div>
  <div
    id="c"
    class="flex flex-col bg-zinc-200 dark:bg-zinc-700 rounded-lg border-2 border-zinc-950 dark:border-white/10 p-4 justify-around"
  >
    <h2 class="mt-0 mb-0 text-sm font-bold tracking-tight">
      Full Stack Developer at Booz Allen.
    </h2>
    <p class="mt-0 mb-0 leading-6 text-sm">
      Life long learner with a <em>passion for the practical</em>. I lead teams
      in building and deploying "<strong>function first, fashion always</strong
      >" web apps for the government.
    </p>
  </div>
  <div
    id="d"
    class="bg-radial from-zinc-950 dark:from-zinc-100 to-60% to-transparent -translate-4"
  >
  </div>
  <div
    id="e"
    class="bg-zinc-950 dark:bg-zinc-100 rounded-lg grid place-items-center"
  >
    <ul class="flex space-x-4 list-none p-0 m-0">
      <li
        class="relative rounded-md p-4 aspect-square bg-transparent hover:bg-radial from-zinc-900 dark:from-zinc-200 from-40% to-70% to-transparent group"
      >
        <a href="https://github.com/cmdecker95" target="_blank">
          <i
            class="fa-brands fa-square-github text-zinc-200 text-6xl dark:text-zinc-800 group-hover:text-zinc-50 dark:group-hover:text-zinc-950"
          ></i><span class="absolute inset-0"></span>
        </a>
      </li>
      <li
        class="relative rounded-md p-4 aspect-square bg-transparent hover:bg-radial from-zinc-900 dark:from-zinc-200 from-40% to-70% to-transparent group"
      >
        <a href="https://www.linkedin.com/in/cmdecker95/" target="_blank">
          <i
            class="fa-brands fa-linkedin text-zinc-200 text-6xl dark:text-zinc-800 group-hover:text-zinc-50 dark:group-hover:text-zinc-950"
          ></i><span class="absolute inset-0"></span>
        </a>
      </li>
    </ul>
  </div>
</div>

<style>
  #grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  #a {
    grid-column: 1 / 3;
    grid-row: 1 / 4;
  }
  #b {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
  #c {
    grid-column: 3 / 6;
    grid-row: 3 / 4;
  }
  #d {
    grid-column: 4 / 6;
    grid-row: 1 / 3;
  }
  #e {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
  }

  img {
    margin: 0;
  }
</style>
