---
import ThemeToggle from "@/components/ThemeToggle";
import me from "@/assets/me.jpg";
import { Image } from "astro:assets";
---

<div
  class="grid grid-cols-5 grid-rows-3 max-lg:flex max-lg:flex-col gap-x-4 rounded-lg max-lg:max-w-3/4 max-w-11/12 xl:max-w-6xl aspect-[1.618]"
>
  <div
    class="row-start-1 row-end-4 col-start-1 col-end-3 rounded-lg overflow-clip"
  >
    <Image
      src={me}
      alt="Christian smiling away from the camera"
      class="object-cover w-full h-full grayscale-100 z-0"
      loading="lazy"
    />
  </div>
  <div
    class="row-start-2 row-end-3 col-start-2 col-end-4 text-4xl z-1 bg-zinc-100 dark:bg-zinc-950 rounded-lg"
  >
    <h1 class="mb-0 grid place-items-center h-full">
      <span class="name">Christian<br />Decker</span>
    </h1>
  </div>
  <div
    class="row-start-3 row-end-4 col-start-3 col-end-6 flex flex-col bg-zinc-200 dark:bg-zinc-700 dark:bg-radial-[at_50%_0%] dark:from-zinc-700 dark:to-zinc-800 rounded-lg border-2 border-zinc-950 dark:border-white/10 px-6 py-4"
  >
    <h2 class="text-2xl xl:text-3xl my-2 font-bold tracking-tight">
      Full Stack Developer at Booz Allen
    </h2>
    <p class="text-lg xl:text-xl leading-8">
      Life long learner with a <em>passion for the practical</em>. I lead teams
      in building and deploying "<strong>function first, fashion always</strong
      >" web apps for the government.
    </p>
  </div>
  <div
    class="row-start-1 row-end-2 col-start-3 col-end-5 bg-zinc-950 dark:bg-zinc-100 rounded-lg grid place-items-center"
  >
    <ul class="flex space-x-4 list-none p-0 m-0">
      <li
        class="relative rounded-md p-4 aspect-square bg-transparent hover:bg-radial from-zinc-900 dark:from-zinc-200 from-40% to-70% to-transparent group"
      >
        <a href="https://github.com/cmdecker95" target="_blank">
          <i
            class="fa-brands fa-square-github text-zinc-200 text-8xl dark:text-zinc-800 group-hover:text-zinc-50 dark:group-hover:text-zinc-950"
          ></i><span class="absolute inset-0"></span>
        </a>
      </li>
      <li
        class="relative rounded-md p-4 aspect-square bg-transparent hover:bg-radial from-zinc-900 dark:from-zinc-200 from-40% to-70% to-transparent group"
      >
        <a href="https://www.linkedin.com/in/cmdecker95/" target="_blank">
          <i
            class="fa-brands fa-linkedin text-zinc-200 text-8xl dark:text-zinc-800 group-hover:text-zinc-50 dark:group-hover:text-zinc-950"
          ></i><span class="absolute inset-0"></span>
        </a>
      </li>
    </ul>
  </div>
  <div
    class="row-start-1 row-end-2 col-start-2 col-end-3 z-10 relative max-lg:hidden"
  >
    <div
      class="absolute right-0 bottom-0 size-[0.5rem] bg-zinc-100 dark:bg-zinc-950 mask-radial-at-top-left mask-radial-from-transparent mask-radial-to-white mask-radial-from-71% mask-radial-to-0%"
    >
    </div>
  </div>
  <div
    class="row-start-3 row-end-4 col-start-2 col-end-3 z-10 relative max-lg:hidden"
  >
    <div
      class="absolute right-0 top-0 size-[0.5rem] bg-zinc-100 dark:bg-zinc-950 mask-radial-at-bottom-left mask-radial-from-transparent mask-radial-to-white mask-radial-from-71% mask-radial-to-0%"
    >
    </div>
  </div>
  <div class="row-start-1 row-end-2 col-start-5 col-end-6 z-100">
    <ThemeToggle client:only />
  </div>
</div>
