---
const { title, text } = Astro.props;
---

<div class="card">
  <h3>{title}</h3>
  <!-- TODO: add project thumbnail/video -->
  <!-- <img src="" alt=""> -->
  <p>{text}</p>
</div>

<style>
  .card {
    --padding: 2rem;
    backdrop-filter: blur(20px) brightness(1.2);
    border-radius: 8px;
    border: 1px solid var(--color-border);
    height: calc(100% - 2 * var(--padding));
    margin: 0;
    padding: var(--padding);
  }
</style>
