---
import ThemeToggle from "./ThemeToggle";
---

<nav
  class="sticky top-4 left-1/2 -translate-x-1/2 flex items-center justify-between w-[min(calc(100vw-2rem),40rem)] bg-zinc-100 dark:bg-zinc-950 dark:text-zinc-100 rounded-full p-4 shadow-md z-10 dark:shadow-none dark:border-zinc-700 border-2 border-zinc-700"
>
  <a href="/"><span class="name font-medium">Christian Decker</span></a>
  <ul class="flex space-x-4 text-sm">
    <li><a href="#" class="hover:text-zinc-500">My Story</a></li>
    <li><a href="#" class="hover:text-zinc-500">Projects</a></li>
    <li><a href="/blog" class="hover:text-zinc-500">Blog</a></li>
    <li><a href="#" class="hover:text-zinc-500">Contact</a></li>
  </ul>
  <ul>
    <li><ThemeToggle client:only /></li>
  </ul>
</nav>
