<nav class="flex justify-between items-center p-4 bg-gray-800 text-white">
  <ul class="flex space-x-4">
    <li><a href="/" class="hover:text-gray-400">Home</a></li>
    <li><a href="/about" class="hover:text-gray-400">About</a></li>
    <li><a href="/services" class="hover:text-gray-400">Services</a></li>
    <li><a href="/contact" class="hover:text-gray-400">Contact</a></li>
  </ul>
  <span class="logo">
    <a href="/">My Website</a>
  </span>
</nav>
