---
import ThemeToggle from "./ThemeToggle";
---

<nav
  class="sticky flex items-center space-x-8 top-0 z-1000 py-8 mx-auto max-w-3/4 lg:hidden bg-zinc-100 dark:bg-zinc-950 backdrop-blur-sm"
>
  <a href="/"><span class="name font-medium">Christian Decker</span></a>
  <ul class="flex space-x-4 text-sm max-md:hidden">
    <li><a href="#" class="hover:text-zinc-500">My Story</a></li>
    <li><a href="#" class="hover:text-zinc-500">Projects</a></li>
    <li><a href="#" class="hover:text-zinc-500">Contact</a></li>
  </ul>
  <ul class="ml-auto flex space-x-4 text-sm">
    <li><ThemeToggle client:only /></li>
  </ul>
</nav>
