---
import Dot from "./Dot.astro";
---

<nav>
  <div class="left">
    <a href="/#top">
      <Dot />
    </a>
  </div>
  <div class="right">
    <ul>
      <a href="#projects">
        <li>Projects</li>
      </a>
      <a href="#experience">
        <li>Experience</li>
      </a>
      <a href="#blog">
        <li>Blog</li>
      </a>
      <a href="#contact">
        <li>Contact</li>
      </a>
    </ul>
  </div>
</nav>

<style>
  :root {
    --color-shadow: rgba(20, 15, 15, 0.2);
  }

  nav {
    --nav-padding-y: 2rem;
    align-items: center;
    background-color: var(--color-bg);
    border-bottom: 1px solid var(--color-border);
    box-shadow: 0 0 20px 20px var(--color-shadow);
    color: var(--color-text);
    display: flex;
    height: calc(var(--nav-height) - var(--nav-padding-y));
    inset: 0;
    bottom: auto;
    justify-content: space-between;
    padding: 1rem var(--nav-padding-y);
    position: sticky;
    z-index: 99;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    color: var(--color-accent);
  }

  ul {
    display: flex;
    gap: 1.5rem;
  }
</style>
