---
import Nav from "../components/Nav.svelte";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Christian Decker is a self-taught programmer with 5 years of experience and a passion for problem solving. Specializing in using modern frameworks such as SvelteKit, React, and Astro, his journey began with training from platforms like Udemy, Codecademy, and YouTube. He thrives on creating elegant solutions and is committed to continuously expanding his skillset."
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <Nav />
    <slot />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

  :root {
    --color-accent: rgb(245, 75, 45);
    --color-bg: rgb(20, 15, 15);
    --color-border: rgb(220, 200, 200);
    --color-text: rgb(245, 235, 235);
    --font-family: Questrial, system-ui, sans-serif;
    --font-header: Space Mono, monospace;
  }

  body {
    font-family: var(--font-family);
    background: var(--color-bg);
    color: var(--color-text);
    margin: 0;
  }

  :is(h1, h2, h3, h4, h5) {
    font-family: var(--font-header);
    margin: 0;
    padding: 0;
  }

  :is(ul, li) {
    list-style: none;
    padding-left: 0;
  }
</style>
