---
import Header from "../components/Header.astro";
import Nav from "../components/Nav.astro";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Christian Decker is a self-taught programmer with 5 years of experience and a passion for problem solving. Specializing in using modern frameworks such as SvelteKit, React, and Astro, his journey began with training from platforms like Udemy, Codecademy, and YouTube. He thrives on creating elegant solutions and is committed to continuously expanding his skillset."
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <Nav />
    <main>
      <div class="sections">
        <slot name="section" />
      </div>
    </main>
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

  :root {
    --blackish: rgb(20, 15, 15);
    --purple: rgb(32, 25, 32);
    --gold: rgba(120, 100, 70, 0.1);
    --slate: rgba(66, 70, 77, 0.2);
    --goop: rgb(220, 200, 200);

    --color-accent: rgb(245, 75, 45);
    --color-bg: var(--blackish);
    --color-bg-light: var(--goop);
    --color-border: var(--goop);
    --color-border-dark: var(--slate);
    --color-text: rgb(245, 235, 235);
    --color-text-dark: var(--blackish);

    --font-family: Questrial, system-ui, sans-serif;
    --font-header: Space Mono, monospace;
    --nav-height: 6rem;
    --section-gap: 2rem;
  }

  html {
    scroll-behavior: smooth;
    scroll-padding-top: calc(var(--nav-height) + var(--section-gap));
  }

  body {
    background: radial-gradient(
        ellipse at top left,
        var(--gold),
        transparent 50%
      ),
      radial-gradient(ellipse at bottom right, var(--slate), transparent 50%),
      linear-gradient(to bottom, var(--purple), var(--color-bg));
    background-attachment: fixed;
    color: var(--color-text);
    font-family: var(--font-family);
    margin: 0;
  }

  main {
    padding-bottom: 8rem;
  }

  .sections {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: var(--section-gap);
  }

  :is(h1, h2, h3, h4, h5) {
    font-family: var(--font-header);
    margin: 0;
    padding: 0;
  }

  :is(ul, li) {
    list-style: none;
    padding-left: 0;
  }

  :is(p, textarea) {
    line-height: 150%;
  }
</style>
